html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Karla", sans-serif;
    font-weight: 400;
}

.my-map {
    height: 100%;
}

h4,
h5,
h6 {
    font-weight: normal;
    color: #034f84;
}

/* CSS code for the Navigation Menu adapted from that provided by Austin Wolf
*  at https://www.sitepoint.com/pure-css-off-screen-navigation-menu/
*/
.navigation {
    list-style: none;
    background: #9896a4;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.site-wrap {
    min-width: 100%;
    min-height: 100%;
    background-color: #fff;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
}

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.art-place {
    list-style-type: none;
    position: relative;
    left: -33px;
    padding: 5px;
    top: 15px;
    max-width: 180px;
    font-size: 17px;
}

.art-place:hover {
    color: #98ddde;
}

.search {
    position: relative;
    background: #98ddde;
    border-color: #98ddde;
    left: -2px;
    margin-left: 10px;
    top: 15px;
    font-size: 17px;
    max-width: 180px;
}

label {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 2;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(images/menu.svg);
    background-size: contain;
}

.nav-trigger:checked + label {
    left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
    left: 200px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

.nav-trigger + label, .site-wrap {
    transition: left 0.2s;
}

body {
    overflow-x: hidden;
}

